[Unit]
Description=OpenStack ceilometer compute agent
After=syslog.target network.target

[Service]
Type=simple
User=ceilometer
ExecStart=/usr/bin/ceilometer-polling --polling-namespaces compute --logfile /var/log/ceilometer/compute.log

[Install]
WantedBy=multi-user.target

